body {
  background-image: url('eltbackground.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#ffffff;
}
