body {
  background-image: url("/docs/eltbackground.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover
  background-color: #ffffff;
}

h1 {
font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;
}

p {
font-family: futura-pt, sans-serif;
font-weight: 500;
font-style: normal;
}
